.container {
  margin: auto;
  width: 90%;
  place-items: center;
  align-items: center;
  justify-content: center;
}

.image-container {
  height: 95%;
  margin: 0 10px;
}

.images {
  /* height: 100%; */
  /* width: 100%; */
  object-fit: cover;
  border-radius: 20px;
}
